## Observations and Insights

## Pymaceuticals Inc

Summary: 

250 mice were treated through a variety of drug regimes over the course of 45 days. Their physiological responses were then monitored over the course of that time. This analysis compaires the four treatments Capomulin, Infubinol, Ketapril, and Placebo.

In [1]:
%matplotlib inline

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
#import warnings
#warnings.filterwarnings('ignore')

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)


# Combine the data into a single dataset - set mouse id as primary key
mouse_data_df = pd.merge(study_results, mouse_metadata,how='outer', on="Mouse ID")

# Display the data table for preview
mouse_data_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
...,...,...,...,...,...,...,...,...
1888,m601,25,33.118756,1,Capomulin,Male,22,17
1889,m601,30,31.758275,1,Capomulin,Male,22,17
1890,m601,35,30.834357,1,Capomulin,Male,22,17
1891,m601,40,31.378045,1,Capomulin,Male,22,17
1892,m601,45,28.430964,1,Capomulin,Male,22,17

In [3]:
# Checking the number of mice.
n = len(pd.unique(mouse_data_df['Mouse ID']))
print("The number of mice in this study are: ", n)

The number of mice in this study are:  249

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouse_data_duplicate_df = mouse_data_df[mouse_data_df.duplicated(['Mouse ID', 'Timepoint'])]
mouse_data_duplicate_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
861,g989,0,45.000000,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26

In [5]:
# Optional: Get all the data for the duplicate mouse ID. 
mouse_duplicate_df = mouse_data_df[mouse_data_df.duplicated(['Mouse ID'])]
mouse_duplicate_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
5,b128,25,43.262145,1,Capomulin,Female,9,22

In [6]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_unique_df = mouse_data_df.drop_duplicates(subset = ['Mouse ID'])
mouse_unique_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
10,f932,0,45.0,0,Ketapril,Male,15,29
11,g107,0,45.0,0,Ketapril,Female,2,29
19,a457,0,45.0,0,Ketapril,Female,11,30
22,c819,0,45.0,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1848,t565,0,45.0,0,Capomulin,Female,20,17
1858,i557,0,45.0,0,Capomulin,Female,1,24
1868,m957,0,45.0,0,Capomulin,Female,3,19
1878,f966,0,45.0,0,Capomulin,Male,16,17
1883,m601,0,45.0,0,Capomulin,Male,22,17

In [7]:
# Checking the number of mice in the clean DataFrame.
x = len((mouse_data_df['Mouse ID']))
print("The number of mice in this study are: ", x)

The number of mice in this study are:  1893

## Summary Statistics

In [8]:
# group the mouse data by drug regimen
regimen_group_by = mouse_data_df.groupby(['Drug Regimen'])
regimen_group_by.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
10,f932,0,45.000000,0,Ketapril,Male,15,29
11,g107,0,45.000000,0,Ketapril,Female,2,29
12,g107,5,48.791665,0,Ketapril,Female,2,29
13,g107,10,53.435987,0,Ketapril,Female,2,29
14,g107,15,58.135545,0,Ketapril,Female,2,29
63,f993,0,45.000000,0,Naftisol,Male,21,28
64,f993,5,46.395760,0,Naftisol,Male,21,28
65,f993,10,48.185373,0,Naftisol,Male,21,28
66,f993,15,49.106975,1,Naftisol,Male,21,28
67,f993,20,52.079510,1,Naftisol,Male,21,28
213,c326,0,45.000000,0,Infubinol,Female,18,25
214,c326,5,36.321346,0,Infubinol,Female,18,25
215,c139,0,45.000000,0,Infubinol,Male,11,28
216,c139,5,48.753112,0,Infubinol,Male,11,28
217,c139,10,49.992954,0,Infubinol,Male,11,28
428,f234,0,45.000000,0,Stelasyn,Male,14,28
429,f234,5,47.313491,0,Stelasyn,Male,14,28
430,f234,10,47.904324,0,Stelasyn,Male,14,28
431,f234,15,48.735197,1,Stelasyn,Male,14,28
432,f234,20,51.112713,2,Stelasyn,Male,14,28
436,c458,0,45.000000,0,Ramicane,Female,23,20
437,c458,5,45.722279,0,Ramicane,Female,23,20
438,c458,10,44.454378,1,Ramicane,Female,23,20
439,c458,15,45.107423,2,Ramicane,Female,23,20
440,c458,20,39.505135,2,Ramicane,Female,23,20
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
908,f394,0,45.000000,0,Zoniferol,Male,19,30
909,f394,5,47.033100,0,Zoniferol,Male,19,30
910,c264,0,45.000000,0,Zoniferol,Female,11,27
911,c264,5,45.791704,0,Zoniferol,Female,11,27
912,c264,10,49.026592,0,Zoniferol,Female,11,27
1100,a897,0,45.000000,0,Placebo,Male,7,28
1101,a897,5,45.691124,1,Placebo,Male,7,28
1102,a897,10,47.972927,1,Placebo,Male,7,28
1103,a897,15,52.343085,2,Placebo,Male,7,28
1104,a897,20,54.595705,3,Placebo,Male,7,28
1304,x822,0,45.000000,0,Ceftamin,Male,3,29
1305,x822,5,45.671104,1,Ceftamin,Male,3,29
1306,x822,10,48.983717,1,Ceftamin,Male,3,29
1307,x822,15,49.694665,1,Ceftamin,Male,3,29
1308,x822,20,51.914910,2,Ceftamin,Male,3,29

In [11]:
# Generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties
# of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.


average_tumor_volumn['Average TV'] = pd.dataframe(round(regimen_group_by['Tumor Volume (mm3)'].mean(),2))
#average_tumor_volumn = average_tumor_volumn.to_frame()
average_tumor_volumn
#median_tumor_volumn =  (round(regimen_group_by['Tumor Volume (mm3)'].median(),2)).to_frame()
#median_tumor_volumn
#variance_tumor_volumn =  (round(regimen_group_by['Tumor Volume (mm3)'].var(),2)).to_frame()
#variance_tumor_volumn
#standard_deviation_tv =  (round(regimen_group_by['Tumor Volume (mm3)'].std(),2)).to_frame()
#standard_deviation_tv
#sem_tv =  (round(regimen_group_by['Tumor Volume (mm3)'].sem(),2)).to_frame()
#sem_tv
#summary_list = [{'Average Tumor Volumne': average_tumor_volumn,
#                 'Median Tumor Volumne': median_tumor_volumn,
#                 'Variance Tumor Volumn': variance_tumor_volumn,
#                 'Std of Tumor Volumn': standard_deviation_tv,
#                 'SEM of Tumor Volumn': sem_tv}]
#print(summary_list)
#summary_tumor_volumn_df = pd.DataFrame(summary_list)
#summary_tumor_volumn_df

AttributeError: module 'pandas' has no attribute 'dataframe'

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen